# -- Editor ----------
*.code-workspace
*.sublime-project
*.sublime-workspace

# -- node_modules ----------
Bases de node/node_modules
node_modules

# -- eslint ----------
.eslintrc.yml

# -- otros ----------
Bases de node/tablas